/* fines and fees colors */

prm-account md-content.padded-container {
  background-color: var(--color-white);
}

prm-account md-toolbar {
  background: linear-gradient(
    176.56deg,
    #0b6ab7 -100.91%,
    #1f75c5 26.1%,
    #0a95eb 135.49%
  );
}

prm-account md-toolbar h1 {
  color: var(--color-white);
}

prm-account md-divider {
  display: none;
}

prm-account md-list-item {
  border: 2px solid var(--color-primary-blue-01);
  border-radius: 4px;
}

prm-fines {
  color: var(--color-black);
}

prm-fines .bold-text,
prm-fines .items-count {
  color: var(--color-primary-blue-03);
}

/* remove icons and animations from My Library Card */
prm-icon.giant-icon md-icon {
  display: none;
}
md-tab-content {
  transition: unset !important;
}
md-ink-bar {
  transition: unset !important;
}

prm-loan .overdue-line {
  color: var(--status-error-02);
}

/* Search History and Saved Searches: Item Boxes */
prm-saved-queries-list md-list-item {
  border: 2px solid var(--color-primary-blue-01);
  border-radius: 4px;
}

/* Search History and Saved Searches: Titles: U/Max/Heading/Step 1 */
md-list-item a.bold-text h3 {
  color: var(--color-black);
  font-size: 26px !important;
}

/* Search History and Saved Searches: Other info: U/Body/Paragraph */
md-list-item p.text-headings {
  color: var(--color-black);
  font-size: 20px !important;
}

/* First column of fine information (labels) */
prm-fines
  md-list
  md-list-item
  .md-list-item-text
  .weak-text
  > p
  > span:first-child {
  text-transform: uppercase;
  font-family: Karbon;
  font-weight: 700;
  font-size: 16px;
}

/* Second column of fine information (the data) */
prm-fines
  md-list
  md-list-item
  .md-list-item-text
  .weak-text
  > p
  > span:nth-child(2) {
  font-family: Karbon;
  font-weight: 600;
  font-size: 20px;
}
