/* fines and fees colors */

prm-account md-content.padded-container {
  background-color: var(--color-white);
}

prm-account md-toolbar {
  background: linear-gradient(
    176.56deg,
    #0b6ab7 -100.91%,
    #1f75c5 26.1%,
    #0a95eb 135.49%
  );
}

prm-account md-toolbar h1 {
  color: var(--color-white);
}

prm-account md-divider {
  display: none;
}

prm-account md-list-item {
  border: 2px solid var(--color-primary-blue-01);
  border-radius: 4px;
}

prm-fines {
  color: var(--color-black);
}

prm-fines .bold-text,
prm-fines .items-count {
  color: var(--color-primary-blue-03);
}

/* remove icons and animations from My Library Card */
prm-icon.giant-icon md-icon {
  display: none;
}
md-tab-content {
  transition: unset !important;
}
md-ink-bar {
  transition: unset !important;
}

prm-loan .overdue-line {
  color: var(--status-error-02);
}

/* Search History and Saved Searches: Item Boxes */
prm-saved-queries-list md-list-item {
  border: 2px solid var(--color-primary-blue-01);
  border-radius: 4px;
}

/* Search History and Saved Searches: Titles: U/Max/Heading/Step 1 */
md-list-item a.bold-text h3 {
  color: var(--color-black);
  font-size: 26px !important;
}

/* Search History and Saved Searches: Other info: U/Body/Paragraph */
md-list-item p.text-headings {
  color: var(--color-black);
  font-size: 20px !important;
}

/* Account > Fines + Fees: U/Max/Heading/Step3 */
prm-fines div.header-title {
  color: var(--secondary-grey-05, #434343);
  font-family: Karbon;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 48px */
}

/* Account > Fines + Fees: Sort dropdown: U/Body/Link */
prm-fines div.tab-header-actions md-input-container label.md-container-ignore {
  color: var(--secondary-grey-04, #717171);
  font-family: Proxima Nova;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

/* Account > Fines + Fees: Total amount header */
prm-fines div.header-subtitle > span > em:first-child {
  color: var(--primary-blue-03, #0b6ab7);
  font-family: Karbon;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Account > Fines + Fees: item amount : U/Max/Heading/Step1  */
prm-fines
  md-list
  md-list-item
  div.md-list-item-text
  div.weak-text
  > p.bold-text
  > span:first-child {
  color: var(--primary-blue-03, #0b6ab7);
  font-family: Karbon;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 31.2px */
}

/* Account > Fines + Fees: labels: U/Body/Overline */
prm-fines
  md-list
  md-list-item
  .md-list-item-text
  .weak-text
  > p
  > span:first-child {
  color: var(--black, #0f0f0f);
  font-family: Karbon;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

/* Account > Fines + Fees: data: U/Body/Overline  */
prm-fines
  md-list
  md-list-item
  .md-list-item-text
  .weak-text
  > p
  > span:nth-child(2) {
  color: var(--black, #0f0f0f);
  font-family: Karbon;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 32px */
  letter-spacing: 0.2px;
}
