/* increase spacing in item detail lists */
.word-break.layout-column[role="listitem"] {
  margin-top: 4px;
}
.flex-gt-xs-25.flex-gt-sm-20.flex {
  margin-top: 4px;
}

/* Hide "search inside" for physical-only journals */
.button-right-align.search-within-p-only {
  display: none;
}
#searchWithinJournal.search-within-p-only {
  display: none;
}

/* increase width of item request form */
#tab-content-40 .layout-align-start-stretch,
#form_field_pickupLocation .underlined-input,
#form_field_termsOfUse .underlined-input,
#form_field_comment .underlined-input,
md-input-container .md-input,
.md-datepicker-input {
  width: 100%;
}
.md-datepicker-input {
  max-width: 500px;
}
.md-datepicker-input-container {
  width: 100%;
  margin-left: -34px !important;
}
._md-datepicker-floating-label._md-datepicker-has-calendar-icon
  md-datepicker
  .md-datepicker-button {
  left: -34px;
}
/*Hide location title in full view since per ticket 201804098  */
prm-location-items .tab-content-header .md-title {
  display: none;
}

/*bookplate*/
.bookplate {
  background-color: var(--color-primary-blue-04);
  text-align: center;
  color: var(--color-white);
  width: 200px;
  height: 300px;
  font-family: Didot, serif;
  border: 3px double white;
}
button.bookplateBtn {
  border: 1px solid var(--color-primary-blue-04);
}
.bookplateLink {
  display: table;
  padding: 5px;
  border: 2px solid var(--color-secondary-yellow-600);
}
.bookplateLinkText {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
}
div.full-view-section {
  margin-top: 0 !important;
}

/* make call number more visible */
.full-view-container .best-location-sub-location,
.full-view-container .best-location-delivery {
  font-weight: bold;
}
.full-view-container .md-list-item-text p span.availability-status ~ span {
  font-weight: bold !important;
}
.full-view-container .md-list-item-text p span.availability-status + span {
  display: none !important;
}
.full-view-container
  prm-location-items
  .layout-column
  p
  span.availability-status
  + span {
  display: none !important;
}
.full-view-container
  prm-location-items
  .layout-column
  p
  span.availability-status
  ~ span {
  font-weight: bold !important;
}

.full-view-section {
  padding-left: 4em;
}

/* redesign colors and fonts */

/* background color = white */
prm-full-view .full-view-inner-container,
prm-full-view-cont md-content,
primo-explore #full-view-container,
prm-full-view-cont .padded-container {
  background-color: var(--color-white) !important;
}

/* Back to search results: U/Body/Link */
prm-full-view-cont .back-button {
  font-family: proxima-nova;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-transform: none;
  color: var(--color-primary-blue-04);
}

/* availability status: U/Body/Overline */
prm-full-view span.availability-status {
  font-family: Karbon;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 160%;
  letter-spacing: 1.6px !important;
  text-transform: uppercase;
}

/* Metadata labels in Details section: U/Body/Overline */
#item-details .bold-text {
  font-family: Karbon;
  font-weight: 500 !important;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 160%;
  letter-spacing: 1.6px;
  color: var(--color-black);
}

/* Metadata values in Details section: U/Body/Caption */
#item-details {
  font-family: proxima-nova;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  line-height: 160%;
  letter-spacing: 0.16px;
}

/* Links within metadata values */
#item-details a {
  color: var(--color-primary-blue-04);
}

/* Section headers (e.g. Details): U/Min/Heading/Step5 */
.full-view-section .section-title {
  font-family: Karbon;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  color: var(--color-primary-blue-05);
}

/* Main title: U/Max/Heading/Step1 */
prm-full-view .item-title span {
  color: var(--color-black);
  font-family: Karbon;
  font-size: 26px;
  font-weight: 500;
  line-height: 120%;
}

/* Item sidebar links: /* U/Body/Link */
.services-index-under button {
  font-family: proxima-nova;
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  line-height: 120%;
  color: var(--color-primary-blue-04) !important;
}

/* Item content type (e.g. Journal, Book): U/Body/Caption,
with additional background box */
prm-full-view .media-content-type span {
  font-family: proxima-nova;
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  color: var(--secondary-grey-05);
  border-radius: 5px;
  background: var(--color-primary-blue-01);
  padding: 4px 43px;
}

/* Links in Links section: no style name given */
prm-service-links {
  font-family: proxima-nova;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--color-primary-blue-03);
}

/* Sign in to request banner: U/Body/Paragraph */
prm-request-services prm-alert-bar {
  font-family: Karbon;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.2px;
  border: 1.5px solid var(--color-primary-blue-02);
  border-radius: 0px;
}
prm-request-services prm-alert-bar .bar {
  background: var(--color-white) !important;
  border: none;
}

/* Sign in button on banner: U/Body/Button */
prm-request-services prm-alert-bar prm-authentication button {
  background: var(--color-primary-blue-03) !important;
  color: var(--color-white) !important;
  font-family: proxima-nova !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 120% !important;
}

/* "Location Items" section ("Requests" in mockup) */
prm-location-items {
  background: var(--color-primary-blue-01);
}

/* Online access links background */
prm-alma-viewit-items md-list-item div {
  background: var(--color-primary-blue-01);
}

/* Online access titles: U/Min/Heading/Step1 */
prm-alma-viewit-items md-list-item .item-title {
  font-family: Karbon;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  color: var(--color-black);
}

/* Online access body text: U/Body/Caption */
prm-alma-viewit-items md-list-item {
  font-family: proxima-nova;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.16px;
}

/* Other UC Libraries: U/Min/Heading/Step5 */
#alma_other_members [translate="nui.brief.results.tabs.getit_other"] {
  font-family: Karbon;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--color-primary-blue-05);
  text-transform: none;
}

/* Item locations (collapsed) */
prm-location {
  background: var(--color-primary-blue-01);
}

/* Item location name (collapsed and expanded): U/Max/Heading/Step1 */
prm-location-items [ng-if="$ctrl.currLoc.location.availabilityStatus"],
prm-location h3 {
  font-family: Karbon;
  font-size: 26px !important;
  font-weight: 500 !important;
  line-height: 120% !important;
}

/* Item location details (collapsed and expanded): U/Body/Caption */
prm-location p,
prm-location-items [ng-if="$ctrl.currLoc.location.availabilityStatement"],
prm-location-items md-list-item {
  font-family: proxima-nova;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 160% !important;
  letter-spacing: 0.16px !important;
  font-weight: normal !important;
}
