/*update css for color contrast */
prm-search-result-availability-line
  div.layout-row
  div.layout-row
  button.neutralized-button
  span.button-content {
  color: var(--color-secondary-grey-05) !important;
}

/*hide rss button on saved searches*/
div.saved-query-actions svg#rss {
  display: none;
}

prm-virtual-browse-item p span.weak-text {
  color: var(--color-secondary-grey-05) !important;
}

/* External search: worldcat */
/*
div[data-facet-group="External Search"] h3 {
  display: none;
}
*/
#external-search .md-chip {
  margin-bottom: 5px;
}
#external-search img {
  float: left;
  margin-right: 8px;
}
#external-search a {
  font-weight: bold;
}
#external-search span {
  display: block;
  color: var(--color-secondary-grey-05);
}

/* sidebar in detail results */
prm-full-view .services-index-under .md-button {
  max-width: 180px;
}
prm-full-view .services-index-under #services-index {
  max-width: 180px;
}

.HTLink {
  font-weight: bold !important;
}

/* change color of check at status*/
.availability-status.Check.at {
  color: #0f7d00 !important;
}

/* "next page" button on browse results */
#speedDialWidget.page-nav {
  bottom: 80px !important;
}

/* Search Results: change background to white, which isn't happening via <body> */
prm-search div.layout-row {
  background-color: var(--color-white);
}

/* Search Results: toolbar must be forced to white, else grey creeps through parts of it */
md-toolbar {
  background-color: var(--color-white) !important;
}

/* Search Results: Title: U/Max/Heading/Step1 */
prm-brief-result h3.item-title {
  color: var(--color-primary-blue-04);
  font-family: Karbon;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 31.2px */
}

/* Search Results: Non-Title bib info: U/Body/Caption */
span [data-field-selector] {
  color: var(--color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: proxima-nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.16px;
}

/* Search Results: Location and call number: U/Body/Paragraph 
   Using availability styling instead of call number, 
   due to design questions & issues moving / changing these elements.
*/
prm-search-result-availability-line span.best-location-sub-location,
prm-search-result-availability-line span.best-location-delivery {
  color: var(--color-primary-blue-03);
  font-family: Karbon;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.2px;
  text-decoration-line: underline;
}

/* Search Results: Status available in library: U/Body/Paragraph */
span.availability-status.available_in_library {
  overflow: hidden;
  color: var(--status-success-02);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Karbon;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.2px;
}

/* Search Results: Status unavailable: U/Body/Paragraph */
span.availability-status.unavailable {
  color: var(--status-error-02) !important;
  font-family: Karbon;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.2px;
}

/* Search Results: Status available online: U/Body/Paragraph */
span.availability-status.not_restricted,
span.availability-status.fulltext {
  color: var(--color-primary-blue-03);
  font-family: Karbon;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.2px;
  text-decoration-line: underline;
}

/* Search Results: Article snippet: U/Body/Caption */
/* These look terrible here:
    text-overflow: ellipsis;
    white-space: nowrap;
 */
prm-snippet {
  overflow: hidden;
  color: var(--color-black);
  font-family: proxima-nova;
  font-size: 16px;
  /* In-line style forces this to italic, despite the below */
  font-style: normal !important;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.16px;
}

/* Search Results: Facet Refine Your Search: U/Min/Heading/Step6 */
h2.sidebar-title {
  /* Can't do this in white yet, unless background here is blue */
  color: var(--color-black);
  font-family: Karbon;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* Search Results: Facet header: U/Min/Heading/Step4 */
span.section-title-header,
button.section-title {
  color: var(--color-primary-blue-05);
  font-family: Karbon;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* Search Results: Facet title, and Show More: U/Body/Paragraph */
span.text-number-space,
div.expand-section-button {
  /* Design has this as #000, looks the same to me... */
  color: var(--color-black);
  font-family: Karbon;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.2px;
}

/* Search Results: Facet count */
span.facet-counter {
  /* Design has this as #000, looks the same to me... */
  color: var(--color-black);
  font-family: Karbon;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.2px;
}

/* Search Results: "Sort By": U/Body/Button */
h3.section-title-header {
  color: var(--color-primary-blue-05);
  font-family: proxima-nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* Saved Records: Most styles from Search Results apply automatically;
*  the following are exceptions / differences.
*/

/* Saved Records: change background to white, which isn't happening via <body> */
prm-favorites div.layout-row {
  background-color: var(--color-white);
}

/* Saved Records: Labels, treated same as Facet Titles: U/Body/Paragraph */
div.md-chip-content {
  /* Design has this as #000, looks the same to me... */
  color: var(--color-black);
  font-family: Karbon;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.2px;
}

/* Advanced Search
*/

/* Search bar: Advanced Search: U/Body/Button */
/* TODO: Should be outlined box instead of color change on hover */
button.switch-to-advanced {
  color: var(--color-white);
  font-family: proxima-nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: capitalize;
}

/* Advanced Search: change background to white, which isn't happening via <body> */
div.advanced-search-backdrop,
div.advanced-search-output md-card {
  background-color: var(--color-white);
}

/* Advanced Search: Tabs at top of form: U/Body/Caption */
md-tab-item.md-tab {
  color: var(--color-secondary-grey-05);
  font-family: proxima-nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

/* Advanced Search: Search for, Search filters (names/labels): U/Body/Paragraph */
span#searchFieldsGroupAdvancedSearch,
legend[translate="nui.search-advanced.searchFilters"],
md-input-container.md-input-has-value {
  color: var(--color-black);
  font-family: Karbon;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 160%;
  letter-spacing: 0.2px;
  /* Override scaling from prm-advanced-search legend */
  transform: scale(1);
}
legend[translate="nui.search-advanced.searchFilters"],
#advancedSearchMaterialType,
#searchFieldsGroupAdvancedSearch,
#advancedSearchLanguage,
#dayStartListBox,
#dayEndListBox {
  font-size: 20px;
}

/* Advanced Search: Scopes, Search filters (values) : U/Body/Caption */
div.md-label,
md-select-value.md-select-value {
  color: var(--color-black);
  font-family: proxima-nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.16px;
}

/* Advanced Search: Search term text placeholder: U/Body/Caption */
md-input-container.md-input-has-placeholder input[placeholder] {
  /* Not found in design tokens */
  color: var(--library-palette-child-brand-digital-charcoal, #434343);
  font-family: proxima-nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.16px;
}

/* Advanced search: background color */
.advanced-search-backdrop {
  background-color: var(--color-secondary-grey-01) !important;
}
prm-advanced-search .layout-xs-column {
  background-color: var(--color-white) !important;
}

/* Advanced search box: remove drop shadow and recolor border */
.form-focus {
  box-shadow: initial;
  border-color: var(--color-secondary-grey-02);
}

/* Advanced search buttons */
.md-button.md-primary,
.md-button.button-notice:focus,
.md-button.button-notice:hover,
.md-button.button-confirm.button-large,
.switch-to-simple {
  color: var(--color-white) !important;
  background-color: var(--color-primary-blue-03) !important;
  font-family: proxima-nova;
  padding: 11px 24px !important;
  font-size: 18px;
  line-height: 120%;
  text-transform: none;
  border: 1.5px solid var(--color-primary-blue-03) !important;
}
.md-button.md-primary:focus,
.md-button.md-primary:hover,
.md-button.button-notice,
.md-button.button-confirm:focus,
.md-button.button-confirm:hover {
  color: var(--color-black) !important;
  background-color: var(--color-white) !important;
  border: 1.5px solid var(--color-primary-blue-02) !important;
  font-family: proxima-nova;
  padding: 11px 24px !important;
  font-size: 18px;
  line-height: 120%;
  text-transform: none;
}

/* Advanced search: radio buttons */
md-radio-button.md-checked .md-on {
  background-color: var(--color-default-cyan-03);
}
md-radio-button .md-off {
  border-color: var(--color-default-cyan-03) !important;
}

/* Advanced search: underline "Search Criteria" in correct color */
md-ink-bar {
  background-color: var(--color-default-cyan-03) !important;
}
/* Advanced search: text color for "Search Criteria" */
md-tabs
  md-tabs-wrapper
  md-tabs-canvas
  md-pagination-wrapper
  md-tab-item.md-active:not([disabled]) {
  color: var(--color-black) !important;
}

/* Advanced search: align right-side filters with left */
.advanced-drop-downs.zero-margin {
  margin-top: 13px !important;
  max-width: 40%;
}
.advanced-drop-downs md-input-container md-select {
  padding-bottom: 8px !important;
}
.advanced-drop-downs .date-range-inputs {
  margin-bottom: -12px !important;
}
/* Advanced search: add underlines to terms in search summary at bottom */
.advanced-search-output .input-complex-rows.ng-not-empty {
  border-bottom: 2px solid var(--color-default-cyan-03);
}

/* Journal Search: Label before search box: No design */
prm-atoz-search-bar .classic-input .search-scope {
  background-color: var(--color-white);
}

/* Journal Search: Label before search box: text seems to need to target the span */
span[translate="nui.journalsearch.title"] {
  color: var(--color-black);
  font-family: proxima-nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.16px;
}

/* Journal Search: Title or ISSN placeholder text: No design,
   match Advanced Search placeholder: U/Body/Caption
*/
md-autocomplete[md-input-id="searchBarJournal"] {
  /* Not found in design tokens */
  color: var(--library-palette-child-brand-digital-charcoal, #434343);
  font-family: proxima-nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.16px;
}

/* Journal Search: Category sidebar: No design */
div.databases-categories,
div.sticking-wrapper {
  background-color: var(--color-white);
}

/* Journal Search: Category heading: U/Min/Heading/Step4 */
h2[translate="nui.journalsearch.category.title"] {
  color: var(--color-primary-blue-05);
  font-family: Karbon;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* Journal Search: Categories and sub-categories: U/Body/Paragraph */
prm-tree-nav md-list-item p {
  color: var(--color-black);
  font-family: Karbon;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.2px;
}

/* Browse Search: Label before search box: No design */
prm-browse-search-bar .classic-input .search-scope {
  background-color: var(--color-white);
}

/* Browse Search: Hide "Browse by" label, which seems out of place and
   has hard-coded "bold-text" class */
prm-browse-search-bar label[translate="nui.browse.browseby"] {
  display: none;
}

/* Browse Search: change background to white, which isn't happening via <body> */
/* This does not change the results list, which is grey / white when hovered. */
prm-browse-search md-content {
  background-color: var(--color-white) !important;
}

/* Facets sidebar width */
.primo-scrollbar {
  width: 474px;
}
#facets {
  max-width: 474px;
}

/* Facets sidebar: make brackets surrounding counts italic */
.sidebar-section .text-in-brackets::before,
.sidebar-section .text-in-brackets::after {
  font-style: italic;
}
